.footer {
  background-color: #00264D;
  color: #FFFFFF;
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box; 
  max-width: 100%; 
}

.footer__location,
.footer__contact,
.footer__social {
  flex: 1;
  min-width: 200px;
  margin: 20px;
  font-size: 20px;
  overflow: hidden; 
  text-overflow: ellipsis;
  word-wrap: break-word; 
}

.footer h3 {
  border-bottom: 2px solid #00508C;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
}

.footer__social-icons {
  display: flex;
  gap: 15px;
}

.footer__social-icons a {
  color: #FFFFFF;
  font-size: 30px;
  transition: color 0.3s;
}

.footer__social-icons a:hover {
  color: #00508C;
}



@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__location,
  .footer__contact,
  .footer__social {
    min-width: 100%; 
    margin: 10px 0;
    max-width: 95%; 
    box-sizing: border-box; 
  }

  .footer__social-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer__location,
  .footer__contact,
  .footer__social {
    max-width: 90%; 
  }
}
