.info-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.info-section2 h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center; 
  border-bottom: 1px solid rgba(0, 80, 140, 0.5); 
  padding-bottom: 5px;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.info-section2 img {
  width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}

.info-section2 p {
  margin: 0;
  width: 50%;
}

.btn-agendar {
  background-color: #00508C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.btn-agendar:hover {
  background-color: #003f6b;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column; 
    align-items: center;
  }

  .info-section2 img {
    width: 80%; 
    margin-right: 0;
    margin-bottom: 20px;
  }

  .info-section2 p {
    width: 80%;
  }
}


@media (max-width: 480px) {
  .info-section2 h3 {
    font-size: 24px; 
  }

  .info-section2 img {
    width: 100%; 
  }

  .info-section2 p {
    width: 100%; 
  }
}
