html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.traumatologia-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.traumatologia-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
}


.content-trauma {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  flex: 1;
  max-width: 100%;
  box-sizing: border-box; 
}

.left-section-trauma {
  flex: 0 0 70%;
  max-width: 70%; 
  font-size: 20px;

}

.right-section-trauma {
  flex: 0 0 30%;
  max-width: 30%;
  padding-left: 2rem;
}


.about-us, .services-list {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 100%;
  box-sizing: border-box; 
  font-size: 20px;
}

.services-list ul {
  list-style-type: disc;
  padding-left: 20px;
}

.services-list li {
  margin-bottom: 10px; 
  font-size: 20px;
}


.footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  .content-trauma {
    flex-direction: column;
    padding: 1rem; 
  }

  .right-section-trauma {
    padding-left: 0;
  }

  .left-section-trauma, .right-section-trauma {
    flex: 1;
    max-width: 100%; 
  }
}

.traumatologia-container img {
  max-width: 75%;
  height: auto;
}
